<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    


<form action="http://localhost:3000/crear"
        method="post"
        enctype="application/x-www-form-urlencoded"
        >
        <label for="modelo">Modelo</label><br>
        <input type="text" name="modelo"><br>
        <label for="titulo">Titulo</label><br>
        <input type="text" name="titulo"><br>
        <label for="descripcion">Descripcion</label><br>
        <input type="text" name="descripcion"><br>
        <label for="precio">Precio</label><br>
        <input type="number" name="precio"><br>
        <input type="file"      name="image"><br>
        <button type="submit"> Crear </button>

</form>



</body>
</html>